<h1>
  Lavanderia da Casa do Estudante Universitário da UFSM | Campus Sede
</h1>

<div>
  <p>
    Sistema gerenciador de agendamentos da lavanderia da CEU II, III e Indígena sediada no campus sede da UFSM (Universidade Federal de Santa Maria)
  </p>

  <p>
    Para realizar um agendamento, insira os dados do estudante junto com a data e hora do agendamento.
  </p>

  <p>
    IMPORTANTE: Só serão permitidos agendamentos para estudantes residentes do campus sede.
  </p>
</div>

<hr />

<app-formulario-agendamento></app-formulario-agendamento>