<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Formulário de agendamento</h2>

  <div>
    <p>
      Para realizar um agendamento, insira os dados do estudante junto com a data e hora do agendamento.
    </p>
  
    <p>
      <strong>IMPORTANTE:</strong> Só serão permitidos agendamentos para estudantes residentes do campus sede.
    </p>
  </div>

  <label for="moradores">Morador: </label>
  <select id="moradores" formControlName="moradorId">
    <option selected disabled [value]="null">--- Selecione o morador ---</option>
    <option *ngFor="let m of moradores" [value]="m.id">
      {{ m.matricula }} - {{ m.nome }}
    </option>
  </select>
  
  <!-- Dia do agendamento -->
  <label for="data">Data: </label>
  <input type="date" id="data" formControlName="data" />

  <!-- Hora do agendamento -->
  <label for="horario">Horário: </label>
  <input type="time" id="horario" formControlName="hora" />

  <div>
    <button type="submit" [disabled]="!form.valid">Inserir</button>
  </div>
</form>