<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Formulário de agendamento</h2>

  <div>
    <p>
      Para realizar um agendamento, insira os dados do estudante junto com a data e hora do agendamento.
    </p>
  
    <p>
      <strong>IMPORTANTE:</strong> Só serão permitidos agendamentos para estudantes residentes do campus sede.
    </p>
  </div>

  <!-- TODO: Criar 'select' com busca de moradores a partir do número de matrícula -->
  <div formGroupName="morador">
    <!-- Nome do morador da CEU -->
    <label for="nome">Estudante </label>
    <input type="text" id="nome" formControlName="nome" placeholder="Nome do morador da CEU" />

    <!-- Número de matrícula do morador -->
    <label for="matricula">Matrícula </label>
    <input type="text" id="matricula" formControlName="matricula" />
  
    <!-- Número de telefone -->
    <label for="telefone">Telefone </label>
    <input type="text" id="telefone" formControlName="telefone" placeholder="(XX) XXXXX-XXXX" />
  
    <!-- Número do apartamento -->
    <label for="apartamento">Apartamento </label>
    <input type="text" id="apartamento" formControlName="apartamento" />
  </div>
  
  <div>
    <!-- Dia do agendamento -->
    <label for="data">Data </label>
    <input type="date" id="data" formControlName="data" />
  
    <!-- Hora do agendamento -->
    <label for="horario">Horário </label>
    <input type="time" id="horario" formControlName="horario" />
  </div>

  <div>
    <button type="submit" [disabled]="!form.valid">Inserir</button>
  </div>
</form>